body {
    background-color: rgba(0,0,0,0.2);
}

.bg-gray {
    background-color: rgba(0,0,0,0.1)!important;   
}

.logo-antena {
    background-image: url(http://www.intersat.ae/images/intersat/antenna-5-icon.png);
    background-size: 250px 250px;
    width: 250px;
    height: 250px;
}

.title-strong {
    font-size: 50px;
}

.title-color {
    color: rgba(255, 255, 0 ,0.7)!important;
}

.minWidth {
    min-width: 250px;
    height: 100%;
}

.logo-title {
    cursor: none;
    font-size: 20px;
}

.list-font-size {
    font-size: 1.5em!important;
}

.contact {
    font-size: 2em; 
    margin-top: 20px;
    margin-left: 20px;
}

.m-left20 {
    margin-left: 20px!important;
}

.m-top50 {
    margin-top: 50px!important;
}