<html ng-app="brnApp">
	<head>
		<title>LF Antenas</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-route.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-resource.min.js"></script>
        <script src="https://cdn.rawgit.com/alertifyjs/alertify.js/v1.0.10/dist/js/ngAlertify.js"></script>
        
		<link rel="stylesheet" href="semantic/dist/semantic.min.css">
		<script src="semantic/dist/semantic.js"></script>
		<link rel="stylesheet" href="css/custom_theme.css">
	</head>
	<body>
		<div class="ui grid" ng-controller="brnCtrl">
		  <div class="four wide column">
		    <div class="ui vertical fluid tabular menu minWidth">
		      <div class="logo-antena"></div>
		      <span class="item logo-title title-color">{{logoName}}</span>
		      <a ng-repeat="item in menuList" class="item" ng-click="selected(item.id)" ng-class="{active: '{{item.id}}' === selected()}" href="#/{{item.id}}">{{item.field}}</a>
		    </div>
		  </div>
		  <div class="twelve wide stretched column">
		    <div class="ui segment bg-gray" ng-view></div>
		  </div>
		</div>
		<script src="js/main.js"></script>
	</body>
</html>