<div ng-controller="orcamentoCtrl">
    <h1 class="title-color title-strong">Orçamento</h1>
    <form class="ui form" ng-submit="sendEmail()">
        <h4 class="ui dividing header">Envie seu orçamento para um de nossos Serviços</h4>
        <div class="field">
          <label>Name</label>
          <div class="two fields">
            <div class="field">
              <input type="text" ng-required="true" ng-model="email.firstName" placeholder="Nome">
            </div>
            <div class="field">
              <input type="text" ng-model="email.lastName" placeholder="Sobrenome">
            </div>
          </div>
        </div>
       <div class="field">
            <label>E-mail</label>
            <div class="field">
              <input type="email" ng-required="true" ng-model="email.from" placeholder="E-mail">
            </div>
        </div>
        <div class="field">
            <label>Serviço</label>
                <select ng-model="email.service" class="ui dropdown">
                    <option value="instalacao">Instalação</option>
                    <option value="manutencao">Manutenção</option>
                </select>
        </div>
        <div class="field">
            <label>Descrição</label>
            <div class="field">
              <input type="text" ng-required="true" ng-model="email.description" placeholder="Descrição">
            </div>
        </div>
        <button class="ui primary button" ng-disabled="sendingEmail" type="submit">Enviar</button>
        <button class="ui primary loading button" ng-show="sendingEmail">Loading</button>
    </form>
    <h1 class="title-strong">Contato</h1>
    <div class="contact" ng-repeat="contact in contacts">
        <i class="phone icon"></i><span>{{contact.number}}</span>
    </div>  
</div>