<div ng-controller="servicoCtrl">
    <h1 class="title-strong title-color">Serviços</h1>
    <div class="ui list list-font-size m-left20">
      <div class="item" ng-repeat="service in services">
          <img class="ui avatar image" src="http://www.intersat.ae/images/intersat/antenna-5-icon.png">
          <div class="content">
            <div class="header">{{service.label}}</div>
          </div>
      </div>
    </div>
</div>